.body-wrapper{
    width: 100%;
    height: 100%;
    /* background-image: url(background2.png); */
    background-size:cover;
    background-position: center;
    /* background-color: white; */
    /* color: white; */
}
.text-area{
    min-height: 70vh;
    margin-top: 100px;
    /* color: white; */
}
.dropdown:hover .dropdown-menu {
    display: block;
}
h1{
    font-size: 65px;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-family:sans-serif;
    margin-bottom: 15px;
}
h5{
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 50px;
}
.short-popular-category-list h2{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.short-popular-category-list ul li a {
    border: 1px solid #aea8a8;
    color: #c1c1c1 !important;
    font-weight: 200;
    padding: 4px 10px;
    font-size: 12px;
}

.main{
    max-width: 50%;
    /* justify-content: center !important; */
    border: 1px solid gray;
    padding: 20px;
}


